:root {
  --pr-background-color: #fff;

  --pr-app-container-background: #f0f9f6;
  --pr-medium-grey: #ffffff;
  --pr-dark-grey: #ffffff;

  --pr-primary-color: #c2e7ff;
  --pr-primary-selected-color: #b2d8f0;
  --pr-primary-color-focus: #abd6f2;

  /* --pr-secondary-color: #c2ffea; */

  --pr-secondary-color: #cbfceb;
  --pr-secondary-color-focus: #b6f0dc;
  --pr-secondary-selected-color: #beece7;

  --pr-danger-color: #fccbd0;
  --pr-danger-color-focus: #e8aeb3;

  --pr-shadow:
  0 2px 4px 0 rgb(0 0 0 / 20%),
  0 2.5rem 5rem 0 rgb(0 0 0 / 10%);
  --pr-subtle-shadow:
  0 2px 3px 0 rgb(0 0 0 / 10%),
  0 0.8rem 1.2rem 0 rgb(0 0 0 / 4%);
}

/* change font weight but ntoi for headings */
*:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #090c12;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #09120b;
}

h1{
  margin-top: 0;
}

.btn-group-vertical{
  flex-direction: column;
  justify-content: space-between;
}

.btn-group-vertical > * {
  flex: 1 1 49%;
  margin-left: 0px;
  margin-bottom: 0.8rem;
}

.btn-group-vertical > :last-child {
  margin-bottom: 0; /* Remove bottom margin for the last child */
}

.pr-Webcam{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.popup-content {
  width: 80%;
  max-width: max-content;
}

.pr-vallidation-message{
  margin-top: 0;
  color: #bd2130;
}

.pr-change-photo-button{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Light transparent white */
  display: flex;
  justify-content: center;
  align-items: center;
}

.park-reporter-app{
  margin-top: 4rem;
  background-color: var(--pr-app-container-background);
  padding: 3rem;
  margin-bottom: 50vh;
  border-radius: 40px;
  box-shadow: var(--pr-shadow)
}

.pr-title-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pr-title-container > *{
  margin: 0 0.5rem;
}

.pr-container,
.pr-post-container{
  margin-bottom: 3rem;
  background-color: var(--pr-medium-grey);
  padding: 3rem;
  border-radius: 40px;
  box-shadow: var(--pr-shadow)
}

.pr-container{
  background-color: var(--pr-dark-grey);
}

button{
  border-radius: 10000000px;
}

video,
img{
  border-radius: 40px;
}

textarea,
input[type="text"] {
  border-radius: 10000000px;
}

textarea{
  resize: none;
}

.popup-content{
  border-radius: calc(40px + 1rem);
  padding: 1rem;
  padding-bottom: 2rem;
  box-shadow: var(--pr-shadow)
}

.btn{
  background-color: var(--pr-secondary-color);
  color: #090c12;
  border-width: 0;
  box-shadow: var(--pr-subtle-shadow);
}

.btn:hover, .btn:focus {
  background-color: var(--pr-secondary-color-focus);
}


.toggle-btn-primary,
.btn.toggle-btn[aria-pressed="true"] {
  border-width: 0px;
  background-color: var(--pr-secondary-selected-color);
  text-decoration: underline;
}

.toggle-btn-primary,
.btn__primary{
  background-color: var(--pr-primary-color);
  text-decoration: none;
}

/* override backgroung color for primary variant */
.toggle-btn-primary[aria-pressed="true"]{
  background-color: var(--pr-primary-selected-color);
  text-decoration: underline;
}


.toggle-btn-primary,
.toggle-btn{
  border-width: 0px;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%),
  0 0px 0px 0 rgb(0 0 0 / 0%); /* shadows get cut off by overfil method, removed for now, revisit */
}

.btn__primary:hover, .btn__primary:focus {
  background-color: var(--pr-primary-color-focus);
}

.btn__danger{
  background-color: var(--pr-danger-color);
}

.btn__danger:hover, .btn__danger:focus {
  background-color: var(--pr-danger-color-focus);
}

.btn_overlay,
.pr-select{
  border-radius: 10000000px;
 background-color: white;
 border: 2px solid #000;
}

#Export-Button:hover, #Export-Button:focus,
.btn_overlay:hover, .btn_overlay:focus ,
.pr-select:hover, .pr-select:focus {
 background-color: #f6f6f6;
}

#Export-Button{
  background-color: white;

  border-color: black;
}


.pr-post-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Streach all posts to 100% width of list */
.pr-post-list-item > * {
  flex: 0 0 100%;
}

.pr-text {
  border: 2px solid #000;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  width: 100%;
  box-shadow: var(--pr-subtle-shadow);
}

.pr-text:focus-visible {
  box-shadow: inset 0 0 0 2px;
}

.pr-filter-container{
  overflow: scroll;
  /* box-shadow: var(--pr-subtle-shadow); */
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.pr-filter-container::-webkit-scrollbar {
  display: none;
}



